---
title: GitLab Webcasts
description: Gitlab webcast where we talk all things DevOps!
suppress_header: true
extra_css:
  - monthly-release.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    = image_tag "/images/icons/webcast.svg", class: "hero-image-large", alt: "Gitlab webcast svg"
    %h1 GitLab Webcasts
    %p New webcasts that cover all things GitLab
.gitlab-content-container
  .content.tile
    %h2.text-center Upcoming webcasts
    - data.webcasts.each do |webcast|
      - if webcast.youtube_url.nil?
        .release-radar-item
          .flex-container.flex-column.full-width
            %h3.title
              = webcast.title
            .dates-container.flex-container
              %p.date
                = webcast.date
            = webcast.description
          %a.button-orange.flex-shrink{ href: "/webcast/" + webcast.url + "/"} Register Now
  .content.tile
    %h2.text-center Past webcasts
    - data.webcasts.each do |webcast|
      - if webcast.youtube_url?
        .release-radar-item
          .flex-container.flex-column.full-width
            %h3.title
              = webcast.title
            = webcast.description
          %a.button-orange.flex-shrink{ href: "/webcast/" + webcast.url + "/"}
            %i.fas.fa-play
            Watch the webcast
